/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


.form {
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  max-width: 1400px;
  margin-top: 10px;
}
.gallery-item {
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  position: relative;
}
.markup-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.markup-image {
  display: flex;
  justify-content: space-between;
  padding: 16px 9px;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  margin: 20px auto;
  border: 5px solid #ccc;
  border-top: 5px solid #1e90ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader.visible {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}